.info-container {
  display: flex;
  flex-direction: column;
}

.info-form {
  margin-top: 4rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-item {
  color: var(--color-marine-blue);
  font-size: 1.6rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
}

.info-form label {
  margin-bottom: 1rem;
  font-weight: 500;
}

.info-form input {
  padding: 1rem;
  border: 1px solid var(--color-light-gray);
  border-radius: 0.5rem;
}

.info-form input:focus {
  color: var(--color-marine-blue);
  outline: none;
  border: 1px solid var(--color-purple-blue);
}

.info-form input::placeholder {
  color: var(--color-cool-gray);
}
